html {
    background: url('bg.png') repeat scroll 0 0  #273229;
    font-size: 1.25em;
    padding: 0.75em 0.5em;
}

body {
    border: 2px solid #a0fa96;
    border-radius: 2px;
    color: #a0fa96;
    font-family: Hack, monospace;
    text-shadow: 0 0 15px #93f18c;
    max-width: 700px;
    margin: 0 auto;
    padding: 0.5em 1em 0 1em;
}

header .title {
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin: 0;
}

header div {
    border-bottom: 2px solid #a0fa96;
    padding-bottom: 0.5em;
    padding-top: 0.25em;
    text-align: center;
}

header a {
    color: inherit;
    text-decoration: none;
}

header .onion {
    font-size: 0.9em;
}

h1 {
    font-size: 1.65em;
}

h1, h2, h3, h4, h5 {
    letter-spacing: 0.05em;
    text-align: left;
}

main h1 a, main h2 a, main h3 a, main h4 a, main h5 a {
    background-color: transparent;
    box-shadow: 0 0 0 transparent;
}

hr {
    border: 0 none;
    border-bottom: 2px solid #a0fa96;
}

nav a, main a, footer a {
    background-color: #f6ffeb;
    box-shadow: 0 0 10px #f6ffeb;
    border-radius: 2px;
    color: #41783d;
    text-decoration: none;
    text-shadow: 0 0 1px #175736;
    padding: 0 0.25em;
}

main {
    font-size: 0.85em;
    text-align: justify;
}

blockquote {
    border: 1px dashed #A0FA96;
    font-style: italic;
    margin: 0;
    padding: 0 1em;
}

ul {
    padding-left: 1em;
    list-style: none;
}

li {
    text-align: left;
}

li:before {
    content: "\00BB \0020";
    position: absolute;
    margin-left: -20px;
}

pre {
    border: 1px solid;
    padding: 0.25em 0.5em;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

footer {
    border-top: 2px solid #a0fa96;
    font-size: 0.85em;
    margin-top: 1.5em;
    padding: 1em 0;
}

.cursor {
    background: none transparent;
    border: 1px solid transparent;
    color: #9cdc9c;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: step-start;
    animation-iteration-count: infinite;
}

@keyframes blinker {
    50% {
        background-color: #f6ffeb;
        box-shadow: 0 0 4px #afffa4;
        border-radius: 1px;
        color: #175837;
    }
}
